<header>
    <div>
        <h1>Oddities</h1>
        <a class='hide scroll' href="#" title="back to top">scroll to top</a>
    </div>
</header>

<section id='archive' class='content'>
    <ul>
      <% @posts.each do |post| %>  
        <li>
            <h3><a href="<%= url_for(post) %>"><%= post.title %></a></h3>
            <time><%= post.created_at %></time>
        </li> 
        <% end %>
    </ul>
</section>

<footer>
    <div class="col-group">
        <div>
            <h2>Oddities</h2>
            <p>Oddities is a scrapyard of graphical obscurities.</p>
            <p>Made by one man studio - <a href='#'>Above All Others</a></p>
        </div>
        <div id='twitter'>
            <h2>Twitter</h2>

        </div>
        <div>
            <h2>Links</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque turpis diam, tincidunt nec convallis vitae, dapibus vitae enim. Nam bibendum nisl in risus imperdiet vestibulum.</p>
        </div>
  </div>
    </div>            
</footer>