<header>
	<div>
	    <h1>Oddities / <%= @post.title %></h1>
      <%= link_to 'Back', posts_path %> 
      <a class='hide scroll' href="#" title="back to top">scroll to top</a>
	</div>
</header><!-- /header -->

<section id='post' class='content'>
    <p><%= @post.content %></p>
    <%= image_tag @post.image.url %>
</section>

<footer>
    <div>
      <a href="#" title="Above All Others">Above All Others</a></li>
      <a href="#" title="Above All Others">Twitter</a>
    </div>
</footer>