// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item {
	margin: 20px;
	padding: 5px;
	background: #eeeeee;
	line-height: 1.4em;
	float: left;
	width:235px;
	}
	.item p {
		font-family: 'Titillium Web', sans-serif;
		font-size:1.2em;
		padding:5px;
	}
.new-post {
	float: right;
	font-family: 'Titillium Web', sans-serif;
	margin:20px;
	line-height:3em;
	
}
